<!DOCTYPE html>

@{
    // Get the value from ViewData, default to an empty string if not set
    var activeMenuTab = ViewData["MenuTab"] as string ?? "";
    var activeSubMenuTab = ViewData["SubMenuTab"] as string ?? "";
    var activeSecMenuTab = ViewData["SecMenuTab"] as string ?? "";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningManagementSystem</title>
    <link rel="apple-touch-icon" href="~/assets/app-assets/images/ico/apple-icon-120.html">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.pixinvent.com/demo/frest-clean-bootstrap-admin-dashboard-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/vendors/css/charts/apexcharts.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/vendors/css/extensions/swiper.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/components.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/themes/dark-layout.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/themes/semi-dark-layout.min.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/app-assets/css/pages/dashboard-ecommerce.min.css">
    <link href="~/assets/custom/select2/css/select2.min.css" rel="stylesheet" />
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
</head>


<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div id="toastContainer" class="toast-container toast-top-right">
        <div id="toastId" class="toast hide" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="3000">
            <div class="toast-title"></div>
            <div class="toast-message"></div>
        </div>
    </div>
</div>

<body class="vertical-layout vertical-menu-modern 2-columns  navbar-sticky fixed-footer  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
    <!-- BEGIN: Header-->
    <div class="header-navbar-shadow"></div>
    <nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top ">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon bx bx-menu"></i></a></li>
                            @* </ul>
                        <ul class="nav navbar-nav bookmark-icons">
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-email.html" data-toggle="tooltip" data-placement="top" title="Email"><i class="ficon bx bx-envelope"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-chat.html" data-toggle="tooltip" data-placement="top" title="Chat"><i class="ficon bx bx-chat"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-todo.html" data-toggle="tooltip" data-placement="top" title="Todo"><i class="ficon bx bx-check-circle"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="app-calendar.html" data-toggle="tooltip" data-placement="top" title="Calendar"><i class="ficon bx bx-calendar-alt"></i></a></li>
                        </ul> *@
                            @*                         <ul class="nav navbar-nav">
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link bookmark-star"><i class="ficon bx bx-star warning"></i></a>
                                <div class="bookmark-input search-input">
                                    <div class="bookmark-input-icon"><i class="bx bx-search primary"></i></div>
                                    <input class="form-control input" type="text" placeholder="Explore Frest..." tabindex="0" data-search="template-search">
                                    <ul class="search-list"></ul>
                                </div>
                            </li>
                        </ul> *@
                    </div>
                    <ul class="nav navbar-nav float-right">
                        @*                         <li class="dropdown dropdown-language nav-item">
                            <a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-us"></i><span class="selected-language">English</span></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#" data-language="en"><i class="flag-icon flag-icon-us mr-50"></i> English</a><a class="dropdown-item" href="#" data-language="fr"><i class="flag-icon flag-icon-fr mr-50"></i> French</a><a class="dropdown-item" href="#" data-language="de"><i class="flag-icon flag-icon-de mr-50"></i> German</a><a class="dropdown-item" href="#" data-language="pt"><i class="flag-icon flag-icon-pt mr-50"></i> Portuguese</a></div>
                        </li> *@
                        <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i class="ficon bx bx-fullscreen"></i></a></li>
                        <li class="nav-item nav-search">
                            <a class="nav-link nav-link-search"><i class="ficon bx bx-search"></i></a>
                            <div class="search-input">
                                <div class="search-input-icon"><i class="bx bx-search primary"></i></div>
                                <input class="input" type="text" placeholder="Explore Frest..." tabindex="-1" data-search="template-search">
                                <div class="search-input-close"><i class="bx bx-x"></i></div>
                                <ul class="search-list"></ul>
                            </div>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="user-nav d-sm-flex d-none"><span class="user-name">@Context.Session.GetString("UserName")</span><span class="user-status text-muted">Available</span></div><span><img class="round" src="~/assets/app-assets/images/portrait/small/avatar-s-11.jpg" alt="avatar" height="40" width="40"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right pb-0">
                                <form asp-controller="User" asp-action="Login" method="get" style="display:inline;">
                                    <a class="dropdown-item" href="#"><i class="bx bx-user mr-50"></i> Edit Profile</a>
                                    <div class="dropdown-divider mb-0"></div><a class="dropdown-item" href="/User/Login"><i class="bx bx-power-off mr-50"></i> Logout</a>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="index.html">
                        <div class="brand-logo"><img class="logo" src="~/assets/app-assets/images/logo/logo.png" /></div>
                        <h2 class="brand-text mb-0">Frest</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
                <li class="@(activeMenuTab == "DashboardMenu" ? "active" : "") nav-item">
                    <a href="/LearningManagement/Dashboard"><i class="menu-livicon" data-icon="desktop"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
                </li>

                <li class=" navigation-header">
                    <span>Main Items</span>
                </li>
                <li class="@(activeMenuTab == "TrainingMenu" ? "active" : "") nav-item">
                    <a href="/Training/Index"><i class="menu-livicon" data-icon="priority-low"></i><span class="menu-title" data-i18n="Training">Training</span></a>
                </li>
                @*<li class="@(activeMenuTab == "CourseMenu" ? "active" : "") nav-item">
                    <a href="#" onclick="OpenModal('Course')"><i class="menu-livicon" data-icon="notebook"></i><span class="menu-title" data-i18n="Course">Course</span></a>
                </li>*@
                <li class=" nav-item @(activeMenuTab == "courseModuleMenu" ? "open" : "")" ">
                    <a href="#"><i class="menu-livicon" data-icon="check-alt"></i><span class="menu-title" data-i18n="Etc">Courses / Modules</span></a>
                    <ul class="menu-content">
                        <li class="@(activeSubMenuTab == "CourseMenu" ? "active" : "") nav-item">
                            <a href="#" onclick="OpenModal('Course')"><i class="bx bx-right-arrow-alt"></i><span class="menu-title" data-i18n="Course">Course</span></a>
                        </li>
                        <li class="@(activeSubMenuTab == "ModuleMenu" ? "active" : "") nav-item">
                            <a href="#" onclick="OpenModal('Module')"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Modules">Modules</span></a>
                        </li>
                        <li class="@(activeSubMenuTab == "ResourceMenu" ? "active" : "") nav-item">
                            <a href="#" onclick="OpenModal('Resources')"><i class="bx bx-right-arrow-alt"></i><span class="menu-item" data-i18n="Contents">Module Contents</span></a>
                        </li>
                    </ul>
                </li>
                <li class="@(activeMenuTab == "SheduleMenu" ? "active" : "") nav-item">
                    <a href="#" onclick="OpenModal('Shedule')"><i class="menu-livicon" data-icon="unlink"></i><span class="menu-title" data-i18n="Shedule">Shedule</span></a>
                </li>



                <hr />
                <li class="@(activeMenuTab == "SheduleMessnu" ? "active" : "") nav-item">
                    <a href="/Home/Index"><i class="menu-livicon" data-icon="unlink"></i><span class="menu-title" data-i18n="Shedule">Home Index</span></a>
                </li>

        </div>
    </div>


    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <div class="app-content content">
        <div class="content-wrapper">
            @*<div class="content-wrapper-before"></div>*@
            <div class="content-header row">
            </div>
            <div class="content-body">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted bottom">
        <div class="container">
            &copy; @ViewBag.CurrYear - Learning Maneagement System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <div id="CommonModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CommonModalTittle">Training / Course Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bx bx-x"></i>
                    </button>
                </div>
                <div class="modal-body" id="CommonModalContent">
                    <div class="row" style="margin-left:10px">
                        <div class="form-group; col-md-9">
                            <label for="Training">Training</label><span class="text-uppercase text-danger" style="margin-left:5px">*</span>
                            <select id="TrainingId" name="TrainingId" class="form-control">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-left:10px; margin-top:10px" id="courseDropDiv">
                        <div class="form-group col-md-9">
                            <label for="Course">Course</label><span class="text-uppercase text-danger" style="margin-left:5px">*</span>
                            <select id="CourseId" name="CourseId" class="form-control">
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <span id="error-message-ErrorModal" style="margin-left:50px"></span>
                <hr />
                <div class="row">
                    <div class="col-md-6" style="margin-left:260px" id="courseBtn">
                        <button type="button" class="btn btn-outline-warning round mr-1 mb-1" data-bs-dismiss="modal">close</button>
                        <button type="button" class="btn btn-outline-dark round mr-1 mb-1" id="crsbtn" onclick="goToCourse()">Open</button>
                    </div>
                    <div class="col-md-6" style="margin-left:260px" id="shduleBtn">
                        <button type="button" class="btn btn-outline-warning round mr-1 mb-1" data-bs-dismiss="modal">close</button>
                        <button type="button" class="btn btn-outline-dark round mr-1 mb-1" id="shdbtn" onclick="goToShedule()">Open</button>
                    </div>
                    <div class="col-md-6" style="margin-left:260px" id="ModuleBtn">
                        <button type="button" class="btn btn-outline-warning round mr-1 mb-1" data-bs-dismiss="modal">close</button>
                        <button type="button" class="btn btn-outline-dark round mr-1 mb-1" id="mdbtn" onclick="goToModule()">Open</button>
                    </div>
                    <div class="col-md-6" style="margin-left:260px" id="ResBtn">
                        <button type="button" class="btn btn-outline-warning round mr-1 mb-1" data-bs-dismiss="modal">close</button>
                        <button type="button" class="btn btn-outline-dark round mr-1 mb-1" id="rsbtn" onclick="goToResource()">Open</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/assets/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/assets/app-assets/fonts/livicons-evolution/assets/js/dist/liviconsevo.tools.min.js"></script>
    <script src="~/assets/app-assets/fonts/livicons-evolution/assets/js/dist/liviconsevo.defaults.js"></script>
    <script src="~/assets/app-assets/fonts/livicons-evolution/assets/js/dist/liviconsevo.min.js"></script>
    <script src="~/assets/app-assets/js/scripts/configs/vertical-menu-light.min.js"></script>
    <script src="~/assets/app-assets/js/core/app-menu.min.js"></script>
    <script src="~/assets/app-assets/js/core/app.min.js"></script>
    <script src="~/assets/app-assets/js/scripts/components.min.js"></script>
    <script src="~/assets/app-assets/js/scripts/footer.min.js"></script>
    <script src="~/assets/app-assets/js/scripts/customizer.min.js"></script>
    <script src="~/assets/custom/select2/js/select2.full.min.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/assets/app-assets/js/scripts/pages/dashboard-ecommerce.min.js"></script>
    <!-- END: Page JS-->
    <script type="text/javascript">
        var modaltype = '';
        const crsbtn = document.getElementById("crsbtn");
        const mdbtn = document.getElementById("mdbtn");
        const shdbtn = document.getElementById("shdbtn");
        const rsbtn = document.getElementById("rsbtn");

        function OpenModal(type) {
             crsbtn.disabled = true;
             mdbtn.disabled = true;
             shdbtn.disabled = true;
             rsbtn.disabled = true;

            $('#shduleBtn').hide();
            $('#ModuleBtn').hide();
            $('#ResBtn').hide();
            $('#courseBtn').show();
            $('#courseDropDiv').hide();
            modaltype = type;
            // alert(type);
            $.ajax({
                url: '@Url.Action("GetTrainingList", "LearningManagement")',
                type: 'GET',
                success: function (data) {
                    var ddl = $("#TrainingId");
                    ddl.empty();
                    ddl.append('<option value="">-- Select --</option>');
                    $.each(data, function (i, item) {
                        ddl.append('<option value="' + item.id + '">' + item.name + '</option>');
                    });
                    $("#CommonModal").modal("show");
                },
                error: function () {
                    alert("Failed to load dropdown data.");
                }
            });
        }
         $('#CourseId').on('change', function () {
            var Cid = document.getElementById("CourseId").value;
             //const rsbtn = document.getElementById("rsbtn");
             if(Cid != ""){
                 rsbtn.disabled = false;
             }else{
                 rsbtn.disabled = true;
             }
         });
        $('#TrainingId').on('change', function () {
            var Tid = document.getElementById("TrainingId").value;                    
            if(modaltype == 'Course' && Tid != ""){
                $('#courseBtn').show();
                $('#shduleBtn').hide();
                $('#ModuleBtn').hide();
                $('#ResBtn').hide();
                $('#courseDropDiv').hide(); 
                                
                crsbtn.disabled = false;
                mdbtn.disabled = false;
                shdbtn.disabled = false;
            } else if(modaltype == "Shedule"  && Tid != ""){
                $('#courseBtn').hide();
                $('#shduleBtn').show();
                $('#ModuleBtn').hide();
                $('#ResBtn').hide();
                $('#courseDropDiv').hide();
                                
                crsbtn.disabled = false;
                mdbtn.disabled = false;
                shdbtn.disabled = false;
            }else if(modaltype == "Module"  && Tid != ""){
                $('#courseBtn').hide();
                $('#shduleBtn').hide();
                $('#ModuleBtn').show();
                $('#ResBtn').hide();
                $('#courseDropDiv').hide();
                                
                crsbtn.disabled = false;
                mdbtn.disabled = false;
                shdbtn.disabled = false;
            }else if(modaltype == "Resources"  && Tid != ""){
                $('#courseBtn').hide();
                $('#shduleBtn').hide();
                $('#ModuleBtn').hide();
                $('#ResBtn').show();
                $('#courseDropDiv').show();
                rsbtn.disabled = true;
            }
            if(modaltype == "Resources")
            {
                if(Tid != ""){
                    $.ajax({
                        url: '@Url.Action("GetCourseList", "LearningManagement")',
                        type: 'GET',
                        data : {trainingId : Tid },
                        success: function (data) {
                            var ddl = $("#CourseId");
                            ddl.empty();
                            ddl.append('<option value="">-- Select --</option>');
                            $.each(data, function (i, item) {
                                ddl.append('<option value="' + item.id + '">' + item.name + '</option>');
                            });
                            $("#CommonModal").modal("show");
                        },
                        error: function () {
                            alert("Failed to load dropdown data.");
                        }
                    });
                }else{
                    $('#courseDropDiv').hide();
                }
            }
        });

        function goToCourse() {
            let isValid = true;
            var TrainingId = document.getElementById("TrainingId").value;
            const errorMessageTContainer = document.getElementById('error-message-ErrorModal');
            // alert(TrainingId);

            if (TrainingId == "") {
                errorMessageTContainer.textContent = 'Please Select Training.';
                errorMessageTContainer.style.color = 'red';
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
                return false;
            }else{
                window.location.href = '/Course/Index?trainingId=' + TrainingId;
            }
        }

        function goToShedule() {
            let isValid = true;
            var TrainingId = document.getElementById("TrainingId").value;
            const errorMessageContainer = document.getElementById('error-message-ErrorModal');
            // alert(TrainingId);

            if (TrainingId == "") {
                errorMessageContainer.textContent = 'Please Select Training.';
                errorMessageContainer.style.color = 'red';
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
                return false;
            }else{
                window.location.href = '/Shedule/Index?trainingId=' + TrainingId;
            }
        }

        function goToModule() {
            let isValid = true;        
            var TrainingId = document.getElementById("TrainingId").value;        
            const errorMessageContainer = document.getElementById('error-message-ErrorModal');
            // alert(TrainingId);

            if (TrainingId == "") {
                errorMessageContainer.textContent = 'Please Select Training.';
                errorMessageContainer.style.color = 'red';
                isValid = false;
            }

            if (!isValid) {
                event.preventDefault();
                return false;
            }else{
                window.location.href = '/Module/Index?trainingId=' + TrainingId;
            }
        }

        function goToResource() {
            let isValid = true;        
            var CourseId = document.getElementById("CourseId").value;
            const errorMessageContainer = document.getElementById('error-message-ErrorModal');
            // alert(TrainingId);
            if (TrainingId == "") {
                errorMessageContainer.textContent = 'Please Select Course.';
                errorMessageContainer.style.color = 'red';
                isValid = false;
            }
            if (!isValid) {
                event.preventDefault();
                return false;
            }else{
                window.location.href = '/ModuleResouces/Index?courseId=' + CourseId;
            }
        }

        $('#CommonModal').on('shown.bs.modal', function () {
            $("#TrainingId").select2({
                allowClear: true,
                placeholder: 'Select Training',
                dropdownParent: $('#CommonModal') // important for modals
            });
            $("#CourseId").select2({
                allowClear: true,
                placeholder: 'Select Course',
                dropdownParent: $('#CommonModal'), // important for modals
                width: '100%'
            });
        });
    </script>
</body>

</html>
