@model LearningManagementSystem.Data.LMSModels.Training


<div class="card-body">
    @using (Html.BeginForm("Edit", "Training", FormMethod.Post, new { id = "EditForm" }))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Training_EName">Trainig English Name</label><span class="text-uppercase text-danger" style="margin-left:5px">*</span>
                    <input type="text" class="form-control" id="Training_EEName" name="Training_EEName" placeholder="Enter English Name" value="@Model.TrainingEname">
                    <span id="error-message-EEName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Training_SName">Trainig Sinhala Name</label><span class="text-uppercase text-danger" style="margin-left:5px">*</span>
                    <input type="text" class="form-control" id="Training_ESName" name="Training_ESName" placeholder="Enter Sinhala Name" value="@Model.TrainingSname">
                    <span id="error-message-ESName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Training_TName">Trainig Tramil Name</label><span class="text-uppercase text-danger" style="margin-left:5px">*</span>
                    <input type="text" class="form-control" id="Training_ETName" name="Training_ETName" placeholder="Enter Tamil Name" value="@Model.TrainingTname">
                    <span id="error-message-ETName"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Training_Description">Trainig Description</label><span class="text-uppercase text-danger" style="margin-left:5px">*</span>
                    <textarea class="form-control" id="Training_EDescription" name="Training_EDescription" rows="4" placeholder="Textarea">@Model.TrainingDescription</textarea>
                    <span id="error-message-EDes"></span>
                </div>
            </div>
        </div>
        <hr />
        <input tyepe="text" id="Id" name="Id" value="@Model.TrainingId" hidden></input>
        <div class="row" style="margin-left:75%">
            <button type="button" class="btn grey btn-light-secondary" data-bs-dismiss="modal">Close</button>

            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal" id="Esave">
                <i class="bx bx-check d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Save</span>
            </button>
        </div>
    }
</div>

<script type="text/javascript">
    $('#Esave').on('click', function () {
        var form = $('#EditForm');
        const errorMessageENameContainer = document.getElementById('error-message-EEName');
        const errorMessageSNameContainer = document.getElementById('error-message-ESName');
        const errorMessageTNameContainer = document.getElementById('error-message-ETName');
        const errorMessageDesContainer = document.getElementById('error-message-EDes');
        var Training_EName = document.getElementById("Training_EEName").value;
        var Training_SName = document.getElementById("Training_ESName").value;
        var Training_TName = document.getElementById("Training_ETName").value;
        var Training_Description = document.getElementById("Training_EDescription").value;

        let isValid = true;
        errorMessageENameContainer.textContent = '';
        errorMessageSNameContainer.textContent = '';
        errorMessageTNameContainer.textContent = '';
        errorMessageDesContainer.textContent = '';
        // --- User Name Validation ---
        if (Training_EName == "") {
            errorMessageENameContainer.textContent = 'Please Enter English Name.';
            errorMessageENameContainer.style.color = 'red';
            isValid = false;
        }

        if (Training_SName == "") {
            errorMessageSNameContainer.textContent = 'Please Enter Sinhala Name.';
            errorMessageSNameContainer.style.color = 'red';
            isValid = false;
        }
        if (Training_TName == "") {
            errorMessageTNameContainer.textContent = 'Please Enter Tamil Name.';
            errorMessageTNameContainer.style.color = 'red';
            isValid = false;
        }
        if (Training_Description == "") {
            errorMessageDesContainer.textContent = 'Please Enter Description.';
            errorMessageDesContainer.style.color = 'red';
            isValid = false;
        }

        if (!isValid) {
            event.preventDefault();
            return false;
        }else{
            // Change action dynamically
            form.attr('action', '/Training/Edit');
            form.submit();
        }
    });

</script>